{
	"threads": 2,
	"coin": "eosc",
	"name": "nicehash",
	"pplns": 9000,

	"upstreamCheckInterval": "5s",
	"upstream": [
		{
			"name": "main",
			"url": "http://127.0.0.1:8282",
			"timeout": "10s"
		}
	],

	"redis": {
		"endpoint": "127.0.0.1:6379",
		"poolSize": 10,
		"database": 0,
		"password": ""
	},

	"proxy": {
		"enabled": true,
		"listen": "0.0.0.0:7777",
		"limitHeadersSize": 1024,
		"limitBodySize": 256,
		"behindReverseProxy": false,
		"blockRefreshInterval": "120ms",
		"stateUpdateInterval": "3s",
		"difficulty": 9000000000,
		"hashrateExpiration": "3h",

		"healthCheck": true,
		"maxFails": 100000,

		"nicehash": {
			"enabled": true,
			"listen": "0.0.0.0:8088",
			"timeout": "120s",
			"maxConn": 8192
		},

		"policy": {
			"workers": 1024,
			"resetInterval": "60m",
			"refreshInterval": "1m",

			"banning": {
				"enabled": false,
				"ipset": "blacklist",
				"timeout": 1800,
				"invalidPercent": 30,
				"checkThreshold": 30,
				"malformedLimit": 5
			},
			"limits": {
				"enabled": false,
				"limit": 30,
				"grace": "5m",
				"limitJump": 10
			}
		}
	}
}
