{
	"threads": 2,
	"coin": "eosc",
	"name": "payout",
	"pplns": 9000,

	"upstreamCheckInterval": "5s",
	"upstream": [
		{
			"name": "main",
			"url": "http://127.0.0.1:8282",
			"timeout": "10s"
		}
	],

	"redis": {
		"endpoint": "127.0.0.1:6379",
		"poolSize": 10,
		"database": 0,
		"password": ""
	},

	"payouts": {
		"enabled": true,
		"requirePeers": 2,
		"interval": "10m",
		"daemon": "http://127.0.0.1:8282",
		"timeout": "10s",
		"address": "0x0",
		"gas": "21000",
		"gasPrice": "10000000000",
		"autoGas": true,
		"threshold": 500000000,
		"bgsave": false,
		"concurrentTx": 10
	}
}
